{% extends "base.html" %}

{% block content %}

    <div class="container">

        <h2 class="mb-4">Agenda</h2>

        <span id="msg"></span>

        <div id='calendar'></div>

    </div>

    <!-- Modal Visualizar -->
    <div class="modal fade" id="visualizarModal" tabindex="-1" aria-labelledby="visualizarModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="visualizarModalLabel">Detalhes do Evento</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">

                    <span id="msgVisualizarEvento"></span>

                    <form id="formVisualizarEvento">
                        
                        <input type="hidden" id="eventID" value="">

                     
                        <div class="row mb-3">
                            <label for="eventPurposeView" class="col-sm-2 col-form-label">Propósito:</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control-plaintext" id="eventPurposeView" readonly>
                            </div>
                        </div>

                        <div class="row mb-3">
                             <label for="dosageView" class="col-sm-2 col-form-label">Dosagem:</label>
                             <div class="col-sm-10">
                             <input type="text" class="form-control-plaintext" id="dosageView" readonly>
                         </div>
                        </div>

                        <div class="row mb-3">
                            <label for="type_of_factorView" class="col-sm-2 col-form-label">Fator:</label>
                            <div class="col-sm-10">
                            <input type="text" class="form-control-plaintext" id="type_of_factorView" readonly>
                        </div>
                       </div>

                       <div class="row mb-3">
                            <label for="workSchoolAbsenceView" class="col-sm-2 col-form-label">Ausência:</label>
                            <div class="col-sm-10">
                            <input type="text" class="form-control-plaintext" id="workSchoolAbsenceView" readonly>
                        </div>
                       </div>
                        
                       <div class="row mb-3">
                             <label for="application_dateView" class="col-sm-2 col-form-label">Data:</label>
                             <div class="col-sm-10">
                             <input type="text" class="form-control-plaintext" id="application_dateView" readonly>
                          </div>
                        </div>
                        
                        <div class="row mb-3">
                            <label for="application_timeView" class="col-sm-2 col-form-label">Horario:</label>
                            <div class="col-sm-10">
                            <input type="text" class="form-control-plaintext" id="application_timeView" readonly>
                         </div>
                       </div>
                  
                    </form>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                        <button type="button" class="btn btn-danger" id="deleteEventButton">Excluir</button>
                        <button type="button" class="btn btn-primary" id="editEventButton">Editar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- Modal Cadastrar -->
    <div class="modal fade" id="cadastrarModal" tabindex="-1" aria-labelledby="cadastrarModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="cadastrarModalLabel">Cadastrar novo Evento</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">

                    <span id="msgCadEvento"></span>

                    <form id="formCadEvento" method="POST" action="/add_application">

                        <div class="row mb-3">
                            <label for="eventPurpose" class="col-sm-2 col-form-label">Propósito</label>
                            <div class="col-sm-10">
                                <select class="form-control" id="eventPurpose" name="eventPurpose" required >
                                    <option value="">Selecione um Propósito</option>
                                    <option value="Profilático">Profilático</option>
                                    <option value="Sob demanda">Sob demanda</option>
                                </select>
                            </div>
                        </div>

                        <div class="row mb-3">
                            <label for="dosage" class="col-sm-2 col-form-label">Dosagem UI:</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="dosage" name="dosage" required placeholder="Dosagem aplicada">
                            </div>
                        </div>

                        <div class="row mb-3">
                            <label for="type_of_factor" class="col-sm-2 col-form-label">Fator:</label>
                            <div class="col-sm-10">
                                 <select class="form-control" id="type_of_factor" name="type_of_factor" required >  
                                   <option value="">Fator administrado</option>
                                   <option value="VIII">VIII</option>
                                   <option value="IX">IX</option>
                                 </select>
                            </div>
                        </div> 
                        
                        <div class="row mb-3">
                            <label for="workSchoolAbsence" class="col-sm-2 col-form-label">Ausência?</label>
                            <div class="col-sm-10">
                                 <select class="form-control" id="workSchoolAbsence" name="workSchoolAbsence" required >  
                                   <option value="">Ausência no trabalho ou escola?</option>
                                   <option value="sim">Sim</option>
                                   <option value="nao">Não</option>
                                 </select>
                            </div>
                        </div>    

                        <div class="row mb-3">
                            <label for="application_date" class="col-sm-2 col-form-label"></label>
                            <div class="col-sm-10">
                                <input type="date" name="application_date" class="form-control" id="application_date">
                            </div>
                        </div>

                        <div class="row mb-3">
                            <label for="application_time" class="col-sm-2 col-form-label">Horario</label>
                            <div class="col-sm-10">
                                <input type="time" name="application_time" class="form-control" id="application_time">
                            </div>
                        </div>

                        
                        <button type="submit" name="btnCadEvento" class="btn btn-success" id="btnCadEvento">Cadastrar</button>

                    </form>

                </div>
            </div>
        </div>
    </div>


      <!-- Modal Editar Evento -->
<div class="modal fade" id="editarModal" tabindex="-1" aria-labelledby="editarModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="editarModalLabel">Editar Evento</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <!-- Formulário de edição de evento -->
          <form id="formEditarEvento">
            <div class="row mb-3">
              <label for="eventPurposeEdit" class="col-sm-2 col-form-label">Propósito</label>
              <div class="col-sm-10">
                <select class="form-control" id="eventPurposeEdit" name="eventPurpose" required>
                  <option value="">Selecione um Propósito</option>
                  <option value="Profilático">Profilático</option>
                  <option value="Sob demanda">Sob demanda</option>
                </select>
              </div>
            </div>
  
            <div class="row mb-3">
              <label for="dosageEdit" class="col-sm-2 col-form-label">Dosagem UI:</label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="dosageEdit" name="dosage" required placeholder="Dosagem aplicada">
              </div>
            </div>
                    <div class="row mb-3">
                        <label for="type_of_factorEdit" class="col-sm-2 col-form-label">Fator:</label>
                        <div class="col-sm-10">
                             <select class="form-control" id="type_of_factorEdit" name="type_of_factor" required >  
                               <option value="">Fator administrado</option>
                               <option value="VIII">VIII</option>
                               <option value="IX">IX</option>
                             </select>
                        </div>
                    </div> 
                    
                    <div class="row mb-3">
                        <label for="workSchoolAbsenceEdit" class="col-sm-2 col-form-label">Ausência?</label>
                        <div class="col-sm-10">
                             <select class="form-control" id="workSchoolAbsenceEdit" name="workSchoolAbsence" required >  
                               <option value="">Ausência no trabalho ou escola?</option>
                               <option value="sim">Sim</option>
                               <option value="nao">Não</option>
                             </select>
                        </div>
                    </div>    

                    
                    <div class="row mb-3">
                        <label for="application_timeEdit" class="col-sm-2 col-form-label">Horário</label>
                        <div class="col-sm-10">
                            <input type="time" name="application_time" class="form-control" id="application_timeEdit">
                        </div>
                    </div>
                    

                    
                    

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                <button type="button" class="btn btn-primary" id="updateEventButton">Atualizar</button>
            </div>
          </div>
      </div>
   </div>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
    <script src='static/js/index.global.min.js'></script>
    <script src="static/js/bootstrap5/index.global.min.js"></script>
    <script src='static/js/core/locales-all.global.min.js'></script>
    <script src='static/js/custom.js'></script>
    <script src="{{ url_for('static', filename='jquery/jquery.min.js') }}"></script>

{% endblock %}