{% extends "base.html" %}

{% block content %}

<div id="calendar"></div>

<!-- Modal para criar novo evento -->
<div class="modal fade" id="newEventModal" tabindex="-1" role="dialog" aria-labelledby="newEventModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-center" id="newEventModalLabel">Registrar Novo Evento</h5>
                 
        </button>
      </div>
      <div class="modal-body">
        <!-- Formulário para criar novo evento -->
        <form id="newEventForm" method="POST" action="/add_application">
          
          <div class="form-group">
            <label for="eventName">Dosagem UI:</label>
            <input type="text" class="form-control" id="dosage" name="dosage" required>
          </div>
          <!-- Campo para o horário do evento -->
          <div class="form-group">
            <label for="eventTime">Horário da infusão:</label>
            <input type="time" class="form-control" id="eventTime" name="eventTime" required>
          </div>
           
          <div class="form-group">
            <label for="eventPurpose">Propósito:</label>
            <select class="form-control" id="eventPurpose" name="eventPurpose" required >
              <option value="">Selecione um Propósito</option>
              <option value="profilatico">Profilático</option>
              <option value="sobDemanda">Sob demanda</option>
            </select>
          </div>
      
          <div class="form-group">
            <label for="workSchoolAbsence">Ausência no trabalho ou escola?</label>
            <select class="form-control" id="workSchoolAbsence" name="workSchoolAbsence" required>
              <option value="">Selecione uma opção</option>
              <option value="sim">Sim</option>
              <option value="nao">Não</option>
            </select>
          </div>
        
          <!-- Adicione mais campos conforme necessário -->
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
        <button type="button" id="createEventBtn" class="btn btn-primary">Criar Evento</button>
      </div>
    </div>
  </div>
</div> 



<!-- Modal para evento 'Sob Demanda' -->
<div class="modal fade" id="sobDemandaModal" tabindex="-1" role="dialog" aria-labelledby="sobDemandaModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="sobDemandaModalLabel">Evento Sob Demanda</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <!-- Formulário para evento sob demanda -->
        <form id="sobDemandaForm">
          <!-- Campos adicionais para evento sob demanda -->
          <!-- ... -->
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
        <button type="submit" form="sobDemandaForm" class="btn btn-primary">Adicionar Evento Sob Demanda</button>
      </div>
    </div>
  </div>
</div>



<!-- Modal existente para editar eventos -->
<div class="modal fade" id="eventModal" tabindex="-1" role="dialog" aria-labelledby="eventModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="eventModalLabel">Detalhes do Evento</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <!-- Formulário para adicionar/editar eventos -->
        <form id="eventForm">
          <!-- Campos do formulário -->
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
        <button type="submit" form="eventForm" class="btn btn-primary">Salvar Evento</button>
      </div>
    </div>
  </div>
</div>

<!-- Inclua o JavaScript do jQuery -->
<script src="{{ url_for('static', filename='jquery/jquery.min.js') }}"></script>
<!-- Inclua o JavaScript do Bootstrap para o modal funcionar -->
<script src="{{ url_for('static', filename='bootstrap/js/bootstrap.min.js') }}"></script>
<!-- Inclua o JavaScript do FullCalendar -->
<script src="{{ url_for('static', filename='fullcalendar/dist/index.global.min.js') }}"></script>
<!-- Inclua o arquivo de localização em português do FullCalendar -->
<script src="{{ url_for('static', filename='fullcalendar/packages/core/locales/pt.global.js') }}"></script>
<!-- Script para inicializar o FullCalendar e configurar o modal -->
<script>
  
  document.addEventListener('DOMContentLoaded', function() {
    var calendarEl = document.getElementById('calendar');

    var calendar = new FullCalendar.Calendar(calendarEl, {
      headerToolbar: {
        left: 'prev,next today',
        center: 'title',
        right: 'dayGridMonth,timeGridWeek,timeGridDay'
      },
      locale: 'pt-br', // Define a localização para português
      initialDate: '2023-01-12',
     
      navLinks: true, // can click day/week names to navigate views
      selectable: true,
      selectMirror: true,
      
      select: function(arg) {
        var title = $('#newEventModal').modal('show'); // Abre o modal para criar novo evento ao clicar em uma data
      },
     
      eventClick: function(arg) {
        if (confirm('Are you sure you want to delete this event?')) {
          arg.event.remove()
        }
      },
      editable: true,
      dayMaxEvents: true, // allow "more" link when too many events
      events: [
        {
          title: 'Profilatico',
          start: '2023-01-01'
        },
        {
          title: 'Long Event',
          start: '2023-01-07',
          end: '2023-01-10'
        },
        {
          groupId: 999,
          title: 'Repeating Event',
          start: '2023-01-09T16:00:00'
        },
        {
          groupId: 999,
          title: 'Repeating Event',
          start: '2023-01-16T16:00:00'
        },
        {
          title: 'Conference',
          start: '2023-01-11',
          end: '2023-01-13'
        },
        {
          title: 'Meeting',
          start: '2023-01-12T10:30:00',
          end: '2023-01-12T12:30:00'
        },
        {
          title: 'Lunch',
          start: '2023-01-12T12:00:00'
        },
        {
          title: 'Meeting',
          start: '2023-01-12T14:30:00'
        },
        {
          title: 'Happy Hour',
          start: '2023-01-12T17:30:00'
        },
        {
          title: 'Dinner',
          start: '2023-01-12T20:00:00'
        },
        {
          title: 'Birthday Party',
          start: '2023-01-13T07:00:00'
        },
        {
          title: 'Click for Google',
          url: 'http://google.com/',
          start: '2023-01-28'
        }
      ]
    });

  
    $('#newEventModal .btn-secondary').click(function() {
      $('#newEventModal').modal('hide'); // Fecha o modal ao clicar no botão 'Cancelar'
    });
    // Adiciona um evento de clique ao botão 'Cancelar' do modal
   $('#newEventModal .btn-secondary').click(function() {
      $('#newEventModal').modal('hide'); // Fecha o modal ao clicar no botão 'Cancelar'
    });

// Adiciona um evento de clique ao botão 'Criar Evento' no modal
$('#createEventBtn').click(function() {
  var dosage = $('#dosage').val();
  var eventTime = $('#eventTime').val();
  var eventPurpose = $('#eventPurpose').val();
  var workSchoolAbsence = $('#workSchoolAbsence').val();

  // Aqui você pode adicionar lógica para enviar os dados do novo evento para o servidor
  // Por exemplo, usando AJAX para enviar uma solicitação POST para /add_application
  // com os dados do evento como parâmetros

  // Após o envio bem-sucedido, você pode fechar o modal
  $('#newEventModal').modal('hide');
});


    
    calendar.render();
  });

    
</script>


{% endblock %}